@use "../../assets/colors" as *;

.profile-container {
  text-align: center;

  .birthday-title {
    font-size: 2rem;
    line-height: 2.75rem;
    font-weight: 600;
    display: flex;

    .title {
      display: flex;
      margin: 1rem auto 2rem;
    }
  }

  img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 2px solid $gray-50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .profile-name {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    color: $pink-500;
  }

  .profile-birthday {
    margin-top: .5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $gray-700;
  }
}

@media (min-width: 768px) { /* md: */
  .profile-container {
    img {
      width: 20rem;
      height: 20rem;
    }

    .profile-name {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    .profile-birthday {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}